<div class="container">
  <h1>Articles</h1>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Created at</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <td><%= article.title %></td>
          <td><%= time_ago_in_words(article.created_at)%></td>
          <td><%= @markdown.render(article.body).html_safe %></td>
          <td><%= link_to 'Show', article %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
